body {
  height: 100%;
}

body.disableScroll {
  overflow: hidden;
}

.fl-menu-circle-header {
  position: fixed;
  bottom: 15px;
  bottom: calc(constant(safe-area-inset-bottom) + 15px);
  bottom: calc(env(safe-area-inset-bottom) + 15px);
  right: 15px;
  z-index: 10;
}

.fl-menu-circle-header.fl-menu-circle-left {
  right: auto;
  left: 15px;
}

.fl-menu-circle-header .nav-toggle {
  width: 50px;
  height: 50px;
  font-size: 1.5em;
  text-align: center;
  border-radius: 50%;
  background: #00abd1;
  color: #ffffff;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.fl-menu-circle-header .nav-toggle.active {
  background-color: #fff;
  box-shadow: none;
}

.fl-menu-circle-header .nav-toggle.active .fa {
  color: #00abd1;
}

.fl-menu-circle-nav-holder {
  position: fixed;
  bottom: 15px;
  bottom: calc(constant(safe-area-inset-bottom) + 15px);
  bottom: calc(env(safe-area-inset-bottom) + 15px);
  right: 15px;
  width: 50px;
  height: 50px;
  overflow: visible;
  z-index: 8;
}

.fl-menu-circle-nav-holder.fl-menu-circle-left {
  right: auto;
  left: 15px;
}

.fl-menu-circle-nav-holder .nav-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -5px;
  margin-bottom: -5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #00abd1;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  transition: all 0.5s ease-out;
}

.fl-menu-circle-nav-holder .nav-circle.active {
  width: 800vh;
  height: 800vh;
}

.fl-menu-circle-nav-list-holder {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-bottom: 30px;
  padding-bottom: calc(constant(safe-area-inset-bottom) + 30px);
  padding-bottom: calc(env(safe-area-inset-bottom) + 30px);
  z-index: 9;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

.fl-menu-circle-nav-list-holder.active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.fl-menu-circle-nav-list-holder .fl-menu-foot {
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
}

.fl-menu-circle-nav-list-holder .fl-menu-foot .copyright {
  font-size: 9px;
  font-family: Verdana;
}

.fl-menu-circle-nav-list-holder.fl-menu-circle-left .fl-menu-foot .copyright {
  text-align: right;
}

.fl-menu-circle-nav-list-holder .nav-list {
  width: 100%;
  height: 100%;
  max-width: 100%;
  overflow: auto;
  margin: 0;
  padding: 44px 75px 0 15px;
  list-style: none;
}

.fl-menu-circle-nav-list-holder.fl-menu-circle-left .nav-list {
  padding: 44px 15px 0px 75px;
}

.fl-menu-circle-nav-list-holder .nav-list li {
  position: relative;
  line-height: 24px;
  padding: 10px 0px;
  color: #fff;
  cursor: pointer;
  opacity: 0;
  -webkit-transform: translate3d(-16px, 0, 0);
  transform: translate3d(-16px, 0, 0);
  transition: all 0.15s ease-out 0.2s;
}

.fl-menu-circle-nav-list-holder .nav-list li.with-icon,
.fl-menu-circle-nav-list-holder .nav-list.with-icons li {
  padding-left: 44px;
  display: flex;
  align-items: center;
}

.fl-menu-circle-nav-list-holder .nav-list li .fl-menu-icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 20px;
}

.fl-menu-circle-nav-list-holder.active .nav-list li {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

@media screen and (max-width: 320px) {
  .fl-menu-circle-nav-list-holder .nav-list {
    padding-left: 15px;
  }
  .fl-menu-circle-nav-list-holder.fl-menu-circle-left .nav-list {
    padding-left: 65px;
    padding-right: 15px;
  }
}

@media screen and (min-width: 640px) {
  .fl-menu-circle-nav-list-holder .nav-list,
  .fl-menu-circle-nav-list-holder.fl-menu-circle-left .nav-list {
    padding-left: 75px;
    text-align: center;
  }
}

.hamburger {
  padding: 0;
  -webkit-transform: scale(0.6);
  transform: scale(0.6);
}

.hamburger-box {
  height: 20px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  background-color: #ffffff;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #333333;
}

/* Removes arrow from navigate.js appended Exit App menu item */
[data-fl-exit-app].fa-angle-right.linked-icon {
  display: none;
}